<p>{{title}}</p>
<p>{{name}}</p>
<button (click)="setName()">Click</button>
<!-- <router-outlet></router-outlet> -->

<ul>
  <li *ngFor="let item of position">{{ item }}</li>
</ul>

<p *ngIf="false">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque perspiciatis iusto libero repudiandae qui. Eum in voluptatibus perspiciatis, corrupti reprehenderit, ipsam deleniti aut veniam cumque a veritatis tempora tenetur eaque.
</p>

<img [src]="imageURL" alt="" srcset="">
<img src="{{imageURL}}" alt="" srcset="">
