<div style="text-align: center;">
  <img
    src="http://www.codemobiles.com/biz/images/codemobiles_logo.png?ref=10"
    alt="www.codemobiles.com"
    width="300"
  />
  <h1>
    Angular Router
  </h1>
</div>
<!-- [queryParams]={username: "Mrtoeii", password:"321"} -->
<nav>
  <a routerLink="/child1">CHILD1</a> | 
  <a routerLink="/child2">CHILD2</a> |
  <a routerLink="/child3" [queryParams]='{username: "Mrtoeii", password:"321"}'>CHILD3</a> | 
  <a [routerLink]="['/child4','aaa','1234']">CHILD4</a> |
  <a routerLink="/child5">CHILD5</a>
</nav>
<h1>
  <router-outlet></router-outlet>
</h1>
<nav>
  <button (click)="goChild1()">child1</button>
  <button (click)="goChild2()">child2</button>
  <button (click)="goChild3()">child3</button>
  <button (click)="goChild4()">child4</button>
  <button (click)="backpage()">Back</button>
  <button (click)="logIn()">LogIn</button>
  <button (click)="logOut()">LogOut</button>
</nav>